# File patterns we want git to ignore

# backup 
*~
*.bak
backups

# Other files
.access_token
gitlab_backup.log
*credentials.ini
.coverage

# dev files
*.pyc
.idea
.vscode

# pip installation files
*.egg-info
