cache:
  paths:
    - coverage.tar.gz

.env_setup:
  before_script:
    - if [[ -z "${PYENV_DIR}" ]]; then export PYENV_DIR=${HOME}/.pyenv; fi 
    - export PYENV_ROOT="${PYENV_DIR}" && export PATH="$PYENV_ROOT/bin:$PATH" && export TMPDIR="$PYENV_ROOT/.pip-tmp"
    - if ! command -v pyenv; then rm -rf ${PYENV_DIR} || true; git clone https://github.com/pyenv/pyenv.git ${PYENV_DIR}; else eval "$(pyenv init --path)";  fi
    - pyenv local | xargs -L1 pyenv install -s
    - which python
    - curl -sSL https://raw.githubusercontent.com/python-poetry/poetry/master/get-poetry.py | python -
    - source $HOME/.poetry/env
    - poetry config virtualenvs.in-project true; poetry config cache-dir ${PYENV_DIR}/.poetry-cache;
    - poetry config --list
    - poetry run pip install tox

nexusLIMS_tests:
    stage: test
    script:
      # run tests with coverage and output coverage report to html
      - poetry run tox
    retry: 2
    extends: .env_setup
    after_script:
      # cache the coverage results so they can be published, always returning true
      - mv tests/coverage .
      - tar -czf coverage.tar.gz coverage || true
    artifacts:
      paths:
        - coverage
      expire_in: 30 days
    needs: []

pages:
  stage: deploy
  script:
    - poetry run tox -e docs
    - mkdir -p public/doc && rsync -avr _build/ public/doc/
  retry: 2
  extends: .env_setup
  after_script:
    - tar -xzf coverage.tar.gz -C public/ || true
  artifacts:
    paths:
      - public
  dependencies:
    - nexusLIMS_tests
  needs: ['nexusLIMS_tests']
