# File patterns we want git to ignore

# backup
*~
*.bak
backups

# Other files
.access_token
gitlab_backup.log
*credentials.ini
.coverage
.env

# dev files
*.pyc
.idea
.vscode
test_data/
**/doc/build
mdcs/nexusLIMS/doc/source/api/*.rst
_coverage_output

# pip installation files
*.egg-info

# pytest coverage results
htmlcov/

# pickle save files
*.pk