[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-bootstrap-theme = ">=0.8.0"
pytest-mpl = "*"

[packages]
lxml = "*"
requests = "*"
requests-ntlm = "*"
ntlm-auth = "*"
pytz = "*"
ldap3 = "*"
hyperspy = {editable = true, git = "https://github.com/hyperspy/hyperspy.git", ref = "RELEASE_next_patch"}
nexuslims = {editable = true,path = "./mdcs/nexusLIMS"}
matplotlib = "3.3.1"
#hyperspy = "1.5.2"
tifffile = "*"
scikit-learn = "*"
# remove strict 3.7 requirement so we can test 3.7 and 3.8
#[requires]
#python_version = "3.7"
