[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-bootstrap-theme = ">=0.8.0"
pytest-mpl = "*"

[packages]
lxml = "*"
requests = "*"
requests-ntlm = "*"
ntlm-auth = "*"
pytz = "*"
ldap3 = "*"
nexuslims = {editable = true,path = "./mdcs/nexusLIMS"}
hyperspy = "*"
scikit-learn = "*"
