[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
coverage = "*"
pytest = "*"
pytest-cov = "*"
sphinx = "*"
sphinx-bootstrap-theme = "*"
sphinxcontrib-plantuml = "*"
nexuslims = {editable = true,path = "./mdcs/nexusLIMS"}

[packages]
lxml = "*"
requests = "*"
requests-ntlm = "*"
ntlm-auth = "*"
dateparser = "*"
ldap3 = "*"
hyperspy = {editable = true,git = "https://github.com/hyperspy/hyperspy.git",ref = "RELEASE_next_patch"}
scikit-learn = "*"

[requires]
python_version = "3.7"
