; Use this file to store credentials for access to the Nexus Microscopy LIMS
; Sharepoint server. Rename or copy the file to "credentials.ini", and the git
; repository will ignore the file
;
; |------------|
; | IMPORTANT: |
; |--------------------------------------------------|
; | DO NOT COMMIT CREDENTIALS TO THE GIT REPOSITORY! |
; |--------------------------------------------------|
;
; Replace <username here> and <password here> with some credentials that will
; enable access to the SharePoint site (for example, the miclims functional
; account. Do not use any quotation marks or other delimiting features, as these
; will be read as part of the value
;
; e.g. a properly formatted file will look like :
;
; [nexus_credentials]
; username = mynistusername
; password = mynistpassword1234**
;

[nexus_credentials]
username = <username here>
password = <password here>