# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file> -c conda-forge
# platform: linux-64
coverage=4.5.3=py37h14c3975_0
dateparser=0.7.1=py_0
lxml=4.3.2=py37h23eabaa_0
ntlm-auth=1.2.0=py_0
pytest=4.3.1=py37_0
pytest-cov=2.6.1=py_0
python=3.7.2=h0371630_0
requests=2.21.0=py37_1000
requests_ntlm=1.1.0=py_0
